<div class="jumbotron text-center shadow">
  <h1>We Are <span class="logo-text">Tutor Up!</span></h1>
</div>

<div class="col-md-12 jumbotron text-center shadow">
  <p>Welcome! We are a community of students and professors who are interested in 
  meeting, learning, and educating one another so that you can become successful 
  in the future.</p>
  
  <br/>
  
  <p>Students from all over the world can use this platform to connect with professors 
  in a particular speciality. When you reach out to those that know more, you are 
  setting yourself up to grow and learn.</p>
  
  <br/>
  
  <p>A professor is not a professor without students. By registering as a professor, you 
  will find that students will want to follow your guidance and learn from your experience.</p>
  
  <br/>
  
  <p><%= link_to "Sign up for free", root_path %> and start educating today!</p>
</div>

<div class="row">  
  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="well shadow">
      <%= image_tag('professor.png', class: "about-pic") %>
      <p></p>
    </div>
  </div>
</div>