<div class="jumbotron text-center shadow">
  <h1>About</h1>
</div>

<div class="col-md-12 jumbotron text-center shadow">
  <h2>What is Tutor Hub?</h2>
</div>

  <div class="col-md-6">
    <div class="well shadow">
      <p>Welcome to Tutor Hub! We are a community of students, professors, and many other individuals who are interested in meeting one another and sharing ideas.<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque nisi ut dui porttitor, ut pellentesque nibh volutpat. In accumsan viverra magna in semper. Donec convallis ornare aliquet. Donec porttitor tempor augue, sed condimentum lacus gravida ut. Donec et lacus metus. Aliquam consequat ultrices nisl vitae pellentesque. Pellentesque id purus tortor. Nulla nec ante feugiat, placerat lacus at, pellentesque mauris.</p>
    </div>
  </div>
  
  <div class="col-md-6 text-center">
    <div class="well shadow">
      <%= image_tag('professor.png', class: "about-pic") %>
      <p></p>
    </div>
  </div>

<div class="col-md-12 jumbotron text-center shadow">
  <h2>Meet the Team</h2>
</div>

<div class="col-md-6 col-md-offset-3 text-center">
  <div class="well shadow">
    <%= image_tag('profile_web.png', class: "profile-pic") %>
    <h2>Kelson Adams</h2>
    <p>Founder and Lead Developer</p>
  </div>
</div>