.job-title-icon {
  width: 35px;
  height: 30px;
  border: 2px solid #2e6da4;
  border-radius: 4px;
  background-color: #337ab7;
  color: white;
  text-align: center;
  display: inline-block;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0px;
  }
}

.well.profile-description {
  background-color: #808080;
  border-color: #000;
}
.well.contact-info {
  background-color: #808080;
  border-color: #000;
}